<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload single/multiple image</title>
    <style>
        * {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
        }

        .container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 30vh;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="single-upload">
            <div class="header-single">
                <h3>Upload Single file</h3>
            </div>
            <form action="/upload_single" method="post" enctype="multipart/form-data">
                <input type="file" name="userFile" id="">
                <input type="submit" value="Submit">
            </form>
        </div>

        <div class="multi-upload">
            <div class="header-single">
                <h3>Upload Multiple files</h3>
            </div>
            <form action="/upload_multiple" method="post" enctype="multipart/form-data">
                <input type="file" name="userFiles" id="" multiple="multiple">
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>

</html>